# @package _global_

defaults:
  - /habitat: habitat_config_base
    # /home/tsaisplus/mrs_llm/habitat-lab/habitat-lab/habitat/config/default_structured_configs.py
  - /habitat/task: objectnav
    # /home/tsaisplus/mrs_llm/habitat-lab/habitat-lab/habitat/config/habitat/task/objectnav.yaml
  - /habitat/simulator/sensor_setups@habitat.simulator.agents.main_agent: rgbd_agent
    # /home/tsaisplus/mrs_llm/habitat-lab/habitat-lab/habitat/config/habitat/simulator/sensor_setups/rgbd_agent.yaml
  - /habitat/dataset/objectnav: hm3d
    # /home/tsaisplus/mrs_llm/habitat-lab/habitat-lab/habitat/config/habitat/dataset/objectnav/hm3d.yaml
  - _self_

# config values overrides:
habitat:
  environment:
    max_episode_steps: 500
  simulator:
    turn_angle: 30
    agents:
      main_agent:
        sim_sensors:
          rgb_sensor:
            width: 640
            height: 480
            hfov: 79
            position: [0, 0.88, 0]
          depth_sensor:
            width: 640
            height: 480
            hfov: 79
            min_depth: 0.5
            max_depth: 5.0
            position: [0, 0.88, 0]
        height: 0.88
        radius: 0.18
    habitat_sim_v0:
      gpu_device_id: 0
      allow_sliding: False
    scene_dataset: "data/scene_datasets/hm3d_v0.2/hm3d_annotated_basis.scene_dataset_config.json"
