# @package _global_

defaults:
  - /habitat_baselines: habitat_baselines_rl_config_base
  - /benchmark/nav/objectnav: objectnav_hm3d
  - _self_

habitat:
  environment:
    iterator_options:
      max_scene_repeat_steps: 50000
  task:
    success_reward: 2.5
    slack_reward: -1e-3
  dataset:
    # use the clean habitat v2 dataset
    split: "one"
    train_eps: 1
    # the reason why i use absolute path, i download data to another folder
    data_path: "data/datasets/objectnav/hm3d/v2/{split}/{split}.json.gz"
    scenes_dir: "data/scene_datasets/"

habitat_baselines:
  torch_gpu_id: 0
  tensorboard_dir: "log/tb/vlm_adapter" #
  video_dir: "log/video_dir/vlm_adapter" #
  test_episode_count: -1
  eval_ckpt_path_dir: "ckpt/vlm_adapter/latest.pth" #
  num_environments: 4 # 8 FIXED to 4090 when training, 4 when eval the minieval ( Reducing the number of environments to be the number of scenes.)
  checkpoint_folder: "ckpt/vlm_adapter/" #
  trainer_name: "ddppo"  # "ddppo" or "ppo" or "ver" (faster)
  num_updates: 27000
  log_interval: 5
  log_file: "log/log/vlm_adapter.log" #
  num_checkpoints: 500
  # Force PyTorch to be single threaded as
  # this improves performance considerably
  force_torch_single_threaded: True
  prompt: "'Objective: Control a robot equipped with RGB-D sensors to locate {GOAL_NAME}
            Strategy:
              Take note all detected objects and their spatial relationships, including proximity and layout, based on depth information.
              Commonsense reasoning about the relationship between target object and detected objects.
            Task:
              Locate the {GOAL_NAME}
            Position:
            You are at {ROBOT_POSITION}'"
  visualize_prompt: False
  evaluate: False

  eval:
    split: "one"
    video_option: ["disk", "tensorboard"]

  rl:
    policy:
      main_agent:
        name: "SpatialBotPolicy" # PointNavResNetPolicy | SpatialBotPolicy | SigLipPolicy | VLMVisualPolicy

    ppo:
      # ppo params
      clip_param: 0.2
      ppo_epoch: 4
      num_mini_batch: 2
      value_loss_coef: 0.5
      entropy_coef: 0.01
      lr: 8.0e-4
      eps: 1e-5
      max_grad_norm: 0.2
      num_steps: 64
      use_gae: True
      gamma: 0.99
      tau: 0.95
      use_linear_clip_decay: False
      use_linear_lr_decay: False
      reward_window_size: 50

      use_normalized_advantage: False

      hidden_size: 512

    ddppo:
      sync_frac: 0.6
      # The PyTorch distributed backend to use
      distrib_backend: NCCL
      # Visual encoder backbone
      pretrained_weights: data/ddppo-models/gibson-2plus-resnet50.pth
      # Initialize with pretrained weights
      pretrained: False
      # Initialize just the visual encoder backbone with pretrained weights
      pretrained_encoder: False
      # Whether or not the visual encoder backbone will be trained.
      train_encoder: False
      # Whether or not to reset the critic linear layer
      reset_critic: False

      # Model parameters
      backbone: BunnyPhiForCausalLM # se_resneXt50 | BunnyPhiForCausalLM | SigLip | VLMVisonTowerEncoder
      rnn_type: LSTM
      num_recurrent_layers: 2
